<%- include('../partials/header') %>

<!------ Include the above in your HEAD tag ---------->
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>



<div class="container px-4 px-lg-5 my-5"  style="background-size: cover; background-image: url(https://images.unsplash.com/photo-1528975604071-b4dc52a2d18c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1770&q=80)">
    <form id="new-dessert-form" action="/desserts" method="POST">
        <br>
        <h3>Add a New Dessert</h3>
       <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <input type="text" name="name" class="form-control" placeholder="Dessert *" value="" required />
                </div>
                <div class="form-group">
                    <input type="text" name="location" class="form-control" placeholder="Restaurant Name *" value="" required />
                </div>
                <div class="form-group">
                    <input type="number" name="calories" class="form-control" placeholder="Calories *" value="" required />
                </div>
                <div class="form-group"> 
                    <label>Flavour:</label>
                    <select name="flavours" required>
                        <option value="Chocolate">Chocolate</option>
                        <option value="Strawberry">Strawberry</option>
                        <option value="Cookies and Cream">Cookies and Cream</option>
                        <option value="Cinnamon">Cinnamon</option>
                        <option value="Cheesecake">Cheesecake</option>
                        <option value="Red Velvet">Red Velvet</option>
                        <option value="Hazelnut">Hazelnut</option>
                        <option value="Mint">Mint</option>
                        <option value="Matcha">Matcha</option>
                        <option value="Vanilla">Vanilla</option>
                        <option value="Caramel">Caramel</option>
                        <option value="Fruity">Fruity</option>
                    </select>
                </div>
                <div class="form-group"> 
                    <label>Price Range:</label>
                    <input type="radio" value="Low" name="priceRange" checked > Low ($)
                    <input type="radio" value= "Moderate" name="priceRange"> Moderate ($$)
                    <input type="radio" value="Pricey" name="priceRange"> Pricey ($$$)
                </div>
                <div class="form-group">
                    <input type="submit" value="Add Dessert" style="color: black"/>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <textarea name="description" class="form-control" placeholder="Description *" style="width: 100%; height: 180px;" required></textarea>
                </div>
                <div class="form-group">
                    <input type="text" name="photo" class="form-control" placeholder="Image URL *" value="" required />
                </div>
            </div>
        </div>
    </form>
</div>





<%- include('../partials/footer') %>
